body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333333;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.scoreboard {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 300px;
    height: 200px;
    visibility: hidden;
}

.mainmenu {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
}

#startBtn {
    background-color: #333333; 
    color: #FFFFFF;
    width: 200px;
    height: 70px;
    margin-left: -100px;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 10px;
}

#startBtn:hover {
    background-color: #FFFFFF; 
    color: #333333;
    cursor: pointer; 
}

#txtName {
    display: inline-block;
    font-family: Arial Black, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    margin-left: -290px;
    padding-bottom: 100px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    padding-bottom: 10px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}
